<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(165,194,97); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
                </span><span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:paddingLeft</span><span class="s2">=&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
                </span><span class="s1">android:paddingRight</span><span class="s2">=&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
                </span><span class="s1">android:paddingTop</span><span class="s2">=&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
                </span><span class="s1">android:paddingBottom</span><span class="s2">=&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
                </span><span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;NumberPicker 
            </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/numberPicker_Red&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;NumberPicker 
            </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/numberPicker_Green&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;NumberPicker 
            </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/numberPicker_Blue&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;ImageView 
            </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignEnd</span><span class="s2">=&quot;@+id/numberPicker_Blue&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below</span><span class="s2">=&quot;@+id/numberPicker_Red&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:contentDescription</span><span class="s2">=&quot;@string/image_view&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
</span><span class="s0">&lt;/RelativeLayout&gt;</span><span class="s3"> 
</span></pre>
</body>
</html>